body{
    background-image: url("imagenes/agua.jpg");
    text-align: center;
}
#board{
    width: 300px;
    height: 300px;
   
}

#boardAttack{
    width: 300px;
    height: 300px;
  
}
.myRow{
    width: 300px;
    height: 30px;
}
.grid{
    width: 30px;
    height: 30px;
    border: black 0.5px solid;
    display: inline-block;
}
.position{
    display: inline-block;
}
.horizontal{
    width: 35px;
    height: 15px;
    border: black 0.5px solid;
    background-image: url("imagenes/barco.png");

}
.vertical{
    width: 15px;
    height: 35px;
    border: black 0.5px solid;
    margin-top: 5px;
    background-image: url("imagenes/barco.png");

}
.selected{
    background-image: url("imagenes/barco.png");
}
.hit{
    background-image: url("imagenes/acierto.png");
}
.miss{
    background-image: url("imagenes/fallo.png");
}

#ships{
    color: black;
}
